NOME_APLICACAO=SME-IntegracaoEOL-ProgramasEdu-Microsservico
AMBIENTE_APLICACAO=local
NIVEL_LOG=INFO

DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-forte
DJANGO_DEBUG=valor
DJANGO_ALLOWED_HOSTS=*

API_KEY=trocar_esta_chave_em_ambiente_real
API_KEY_HEADER=X-API-Key

PORT_WEB=porta
PORT_DEBUGPY=valor

DB_POOL_SIZE=valor

URL_BANCO_PROGRAMAS=postgresql://usuario:senha@host:porta/banco
