NOME_APLICACAO=SME-IntegracaoEOL-ProgramasEdu-Microsservico
AMBIENTE_APLICACAO=local
NIVEL_LOG=INFO

DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-forte
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

API_KEY=trocar_esta_chave_em_ambiente_real
API_KEY_HEADER=X-API-Key

PORT_WEB=8001
PORT_DEBUGPY=5678

DB_POOL_SIZE=5

URL_BANCO_PROGRAMAS=postgresql://postgres:postgres@sme_sgp_ms_etl_postgres:5432/programas_db
